/* ---------------------------- allgemeine Regeln für Tags ---------------------------- */
html,body {
	height: 100%;
}

body {
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 14px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 8px;
}

h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 2px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 15px;
}

table {
	margin-bottom: 15px;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

table.swot, table.border {
	border-collapse: collapse;
}

table.swot td {
	border: 1px solid #000000;
	padding: 4px 7px 3px 5px;
}

table.border td {
	font-size: 12px;
	line-height: 16px;
	border: 1px solid #000000;
	padding: 5px 7px 4px 5px;
}

.swot_header_left {
	font-weight: bold;
}

.swot_header_right {
	font-weight: bold;
	color: #000000;
}

.img_float_left {
	float: left;
	margin: 0px 20px 15px 0px;
}

ul, ol {
	margin: 0px 0px 12px 15px;
}

li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 3px;
}

a {
	color: #000000;
	text-decoration: none;
}

/* ------------------------------------- Klassen -------------------------------------- */
.quellenangabe {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
}

.listheading {
	font-style: italic;
}

/* ------------------------------------ Formulare ------------------------------------- */
input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 3px 2px 3px;
	border: 1px solid #333333;
}

input[type=submit] {
	padding: 4px 10px 4px 10px;
	background-color: #FFFFFF;
	font-weight: bold;
}

/* ------------------------------------- Bereiche ------------------------------------- */
#container {
	background-color: #FFFFFF;
	width: 1100px;
	margin-top: 0px;

}

/* header */
header {
	background-image: none;
	height: 50px;
}

header h1 {
	padding: 2px 25px 0px 0px;
}

/* Navigation */
nav {
	display: none;
}

/* Content: Text, Tabellen, Bilder, etc. */
#stage {
	padding: 0;
}

/* Footer */
footer {
	padding: 12px 0px 7px 0px;
}

footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0px;
}


